
// Body
$body-bg: #f5f8fa;

// Typography
<<<<<<< HEAD
//$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 1rem;
=======
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
>>>>>>> 858eacacc407897566ea1558eb07b077dcf5fc0e
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;
